@import '@/components/mixins.scss';

.breadcrumbs {
  padding: rem(20) rem(30) 0;
  font-size: rem(15);
}

.current {
  color: $black;
}

.arrow {
  display: inline-block;
  margin: 0 rem(10);
  &:after {
    display: inline-block;
    content: '·';
    color: $gray-5;
  }
}

// dark theme
[data-kit-theme='dark'] {
  .breadcrumbs {
    color: #100F1F;
  }

  .current {
    color: #0D0D1D;
  }

  .arrow {
    &:after {
      color: $dark-gray-1;
    }
  }
}
